__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.dylib

.Python
.venv/
venv/
env/
ENV/

build/
dist/
*.egg-info/
.eggs/

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
coverage.xml

/backup/
/.cache/

*.log
*.tgz
*.tar.gz

poe_tracker/.cache/
